@{
    ViewData["Title"] = "Home Page";
    var candidato = ViewBag.Candidato as Candidato;
}

<div class="text-center">
    <h1 class="display-4">Detalle del Candidato</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@if (candidato != null)
{
    <h2>Nombre: @candidato.Nombre</h2>
    <p>Apellido: @candidato.Apellido</p>
    <p>Fecha de Nacimiento: @candidato.FechaNacimiento</p>
    <p>Foto: <img src="@candidato.Foto" alt="Foto del candidato"></p>
    <p>Postulación: @candidato.Postulacion</p>

    <div>
        <a href='@Url.Action("VerDetallePartido", "Home", new { idPartido = candidato.IdPartido })'>Volver al partido del candidato</a>
    </div>
}
else
{
    <p>No se encontró información del candidato.</p>
}
