@{
    ViewData["Title"] = "Detalle del Candidato";
    var candidato = ViewBag.Candidato as Candidato;
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link href="~/css/candidato.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>
    <div class="container text-center">
        <h1 class="display-4">Detalle del Candidato</h1>

        @if (candidato != null)
        {
            <img class="candidate-image" src="@candidato.Foto" alt="Foto del candidato">
            <h2 class="candidate-name">@candidato.Nombre @candidato.Apellido</h2>
            <p class="candidate-info">Fecha de Nacimiento: @candidato.FechaNacimiento</p>
            <p class="candidate-info">Postulación: @candidato.Postulacion</p>

            <div>
                <a class="return-link" href='@Url.Action("VerDetallePartido", "Home", new { idPartido = candidato.IdPartido })'>Volver al partido del candidato</a>
            </div>
        }
        else
        {
            <p class="error-message">No se encontró información del candidato.</p>
        }
    </div>
</body>
</html>
