@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/partido.css" asp-append-version="true" />

<div class="container">
    <div class="header-container">
        <h1 class="header-title">Detalle del Partido</h1>
        <p class="header-description">Información sobre el partido político</p>
    </div>
</div>

@model Partido

<div class="container partido-info-container">
    <h2 class="partido-name">@Model.Nombre</h2>
    <p><img class="img-logo" src="@Model.Logo" alt="Logo del partido"></p>
    <p><a href="@Model.SitioWeb" class="action-link">@Model.SitioWeb</a></p>
    <p>Fecha de Fundación: @Model.FechaFundacion</p>
    <p>Cantidad de Diputados: @Model.CantidadDiputados</p>
    <p>Cantidad de Senadores: @Model.CantidadSenadores</p>

    <h3>Candidatos</h3>

    <table class="candidatos-table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Fecha de Nacimiento</th>
                <th>Postulación</th>
                <th>Acciones</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var candidato in ViewBag.Candidatos)
            {
                <tr>
                    <td>@candidato.Nombre</td>
                    <td>@candidato.Apellido</td>
                    <td>@candidato.FechaNacimiento</td>
                    <td>@candidato.Postulacion</td>
                    <td>
                        <a href='@Url.Action("VerDetalleCandidato", "Home", new { idCandidato = candidato.IdCandidato, idPartido = Model.IdPartido })' class="action-link">Ver detalles del candidato</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <a href='@Url.Action("AgregarCandidato", "Home", new { idPartido = Model.IdPartido })' class="action-link2">Agregar un candidato</a>
</div>



